@yellow: #fffa19;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.paddings(@top, @right, @bottom, @left) {
    padding-top: @top;
    padding-right: @right;
    padding-bottom: @bottom;
    padding-left: @left;
}

.jumbotron{
    background-color: @yellow;
    color: black;
    .margenes(10px, 0px)
}

footer{
    background-color: @yellow;
    .margenes(10px, 0px);
    .paddings(10px,10px,0px,10px);
}

.card-hotel{
    flex: 1 200px;
    .margenes(10px, 0px)
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    .paddings(0px, 5px, 0px, 0px)
}

.tab-content{
    .paddings(10px, 0px, 0px, 0px)
}

.btn-align{
    display: flex;
    justify-content: center;
    .margenes(10px, 0px)
}