$yellow: #fffa19;
$red: #ff0000;
$green: #00ff00;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin paddings($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron{
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
}

footer{
    @include paddings(10px, 10px, 0px, 10px);
    background-color: $yellow;
    @include margenes(10px, 0px);
}

.card-hotel{
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-reserva{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    @include paddings(0px, 10px, 0px, 0px);
}

.tab-content{
    @include paddings(10px, 0px, 0px, 0px);
}

.btn-align{
    @include margenes(10px, 0px);
    display: flex;
    justify-content: center;
}